body {
    text-align: center;
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 100px;
    background-color: coral;
}
.main_title{
    margin-top:10;
    float: left;
}
#nav {
    padding-top: 10px;
    padding-right: 10px;
    float: right;
}
#nav ul li{
    display: inline;
 }
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    margin-bottom: 5px;
}
.post {
    border: 1px solid #000;
}

.textlines {
    border-radius: 0.67em;
    padding: 0.5em;
    background-color: snow;
    width: 20em;
    height: 120px;
    font-size: 1em;
    line-height: 1.2;
}
input[type=submit] {
  width: 100px;
  padding: 7px;
  border-radius: 5px;
  color: #fff;
  background: #00aaff;
  box-shadow: 0 3px 0 #0088cc;
  cursor: pointer;
  margin: 0 auto 15px;
}
form#logout{
    text-align: right;
    font-size: 12px;
    margin-bottom: 15px;
}
