body {
    text-align: center;
    font-family: Arial,sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    margin-bottom: 5px;
}

.textlines {
    border-radius: 0.67em;
    padding: 0.5em;
    background-color: snow;
    width: 20em;
    height: 120px;
    font-size: 1em;
    line-height: 1.2;
}
input[type=submit] {
  width: 100px;
  padding: 7px;
  border-radius: 5px;
  color: #fff;
  background: #00aaff;
  box-shadow: 0 3px 0 #0088cc;
  cursor: pointer;
  margin: 0 auto 15px;
}
form#logout{
    text-align: right;
    font-size: 12px;
    margin-bottom: 15px;
}
